* {
  font-family: "Open Sans", helvetica, verdana, helvetica, arial, sans-serif; }

html, body {
  height: 100%; }

@media screen and (min-width: 768px) and (max-width: 800px) {
  .navbar-nav > li > a {
    font-size: 14px !important; } }
@media screen and (max-width: 1200px) {
  #home > .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    color: black !important; } }
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none; }

  .navbar .navbar-nav .navbar-right {
    float: right !important; }

  .navbar .navbar-collapse {
    text-align: center; } }
nav.navbar-default {
  background-color: #fff; }
  nav.navbar-default .navbar-nav > li > a {
    line-height: 48px;
    color: #000;
    letter-spacing: 1px;
    font-size: 16px; }
    nav.navbar-default .navbar-nav > li > a:hover {
      color: #48bae0; }
nav a.navbar-brand {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 120px;
  height: 80px; }

.no-margin {
  margin: 0; }

.main {
  height: 100%;
  min-height: 600px; }

.triangle {
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 22.5px 0 22.5px; }
  .triangle.white {
    border-color: #ffffff transparent transparent transparent; }
  .triangle.gray {
    border-color: #eff0eb transparent transparent transparent; }

#home {
  min-height: 560px;
  background-image: url("../img/bg_image_large.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative; }
  #home .text {
    height: 100%;
    text-align: center;
    font-size: 17px; }
    #home .text .vertical-center {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50%;
      margin: auto; }
      #home .text .vertical-center header h1 {
        font-size: 45px; }
      #home .text .vertical-center header p {
        width: 59%;
        margin: 8% auto 6%; }
      #home .text .vertical-center .signin {
        letter-spacing: 1px;
        font-size: 15px; }
        #home .text .vertical-center .signin input {
          max-width: 380px;
          margin-bottom: 10px; }
        #home .text .vertical-center .signin .separator {
          margin: 0 auto;
          width: 200px;
          height: 10px;
          border-top: 1px solid #191919; }

#how-it-works {
  padding-bottom: 30px; }
  #how-it-works header {
    text-align: center;
    margin-bottom: -15px; }
    #how-it-works header h1 {
      font-size: 25px;
      font-weight: bolder; }
  #how-it-works .body {
    font-size: 17px;
    margin: 0 auto; }
    @media screen and (min-width: 970px) {
      #how-it-works .body {
        width: 70%; } }
    #how-it-works .body .row {
      margin-top: 15px; }
    #how-it-works .body h3 {
      color: #48bae0;
      margin-bottom: 20px;
      font-size: 19px;
      font-weight: bold; }

#why-elephant {
  background-color: #eff0eb;
  padding-bottom: 30px; }
  #why-elephant header {
    text-align: center; }
    #why-elephant header h1 {
      font-size: 25px;
      font-weight: bolder; }
  #why-elephant .row-small {
    margin: 0 auto; }
    @media screen and (min-width: 970px) {
      #why-elephant .row-small {
        width: 70%; } }
  #why-elephant .row {
    margin-top: 50px; }
    #why-elephant .row .circle {
      -moz-border-radius: 50px/50px;
      -webkit-border-radius: 50px 50px;
      border-radius: 50%;
      border: solid 2px #48bae0;
      width: 200px;
      height: 200px;
      display: table;
      margin: 0 auto; }
      #why-elephant .row .circle h1 {
        display: table-cell;
        vertical-align: middle;
        font-size: 32px;
        letter-spacing: 2px;
        color: #000;
        text-align: center; }
    #why-elephant .row .separator {
      margin: 15px auto 10px;
      width: 200px;
      height: 10px;
      border-top: 2px solid #48bae0; }
    #why-elephant .row p {
      max-width: 180px;
      font-size: 12px;
      color: #000;
      margin: 10px auto; }

#about-us {
  padding-bottom: 30px; }
  #about-us header {
    text-align: center; }
    #about-us header h1 {
      font-size: 25px;
      font-weight: bolder; }
  #about-us p.desc {
    font-size: 18px;
    padding-top: 15px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      #about-us p.desc {
        max-width: 70%; } }
  #about-us p.video {
    padding-top: 30px;
    width: 560px;
    margin: 0 auto; }

#contact-us {
  background-color: #eff0eb;
  padding-bottom: 30px; }
  #contact-us header {
    text-align: center; }
    #contact-us header h1 {
      font-size: 25px;
      font-weight: bolder; }
  #contact-us .body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px; }
    #contact-us .body form label {
      color: #a8a8a8; }
    #contact-us .body .desc {
      padding-top: 21px; }
      #contact-us .body .desc p:first-child {
        margin-bottom: 40px; }

footer {
  padding-bottom: 100px; }
  @media screen and (min-width: 970px) {
    footer {
      width: 90%;
      margin: 0 auto; } }
  footer #copyright h1 {
    color: #48bae0;
    font-size: 20px; }
    footer #copyright h1 span {
      color: #424242;
      font-weight: bolder; }
  footer #copyright p {
    font-weight: bolder;
    padding-top: 30px; }
  @media screen and (min-width: 768px) {
    footer #connect {
      text-align: right; } }
  footer #connect h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #000; }
  footer #connect ul.networks {
    padding-left: 10px;
    list-style: none outside none;
    margin: 5px 0 0 0;
    padding-bottom: 40px; }
    @media screen and (min-width: 768px) {
      footer #connect ul.networks {
        float: right; } }
    footer #connect ul.networks li {
      float: left;
      margin-left: 5px; }
      footer #connect ul.networks li a.icon-social {
        background: url(//cdn.shopify.com/s/files/1/0386/7345/t/8/assets/group_icon.png?6841) no-repeat scroll -127px -76px transparent;
        float: left;
        display: block;
        width: 37px;
        height: 37px;
        opacity: 1; }
      footer #connect ul.networks li a.facebook {
        background-position: 0 -325px; }
      footer #connect ul.networks li a.twitter {
        background-position: -42px -325px; }
      footer #connect ul.networks li a.pinterest {
        background-position: -127px -325px; }
      footer #connect ul.networks li a.atom {
        background-position: -84px -325px; }
      footer #connect ul.networks li a.ir {
        display: block;
        text-indent: -999em;
        overflow: hidden;
        background-repeat: no-repeat;
        text-align: left;
        direction: ltr; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1); }

  50% {
    -moz-transform: scale(1.1); }

  100% {
    -moz-transform: scale(1); } }
@-o-keyframes pulse {
  0% {
    -o-transform: scale(1); }

  50% {
    -o-transform: scale(1.1); }

  100% {
    -o-transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }

  50% {
    transform: scale(1.1); }

  100% {
    transform: scale(1); } }
.animated.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse; }

.animated .pulse:hover {
  -webkit-animation: pulse ease-in-out 1 normal 800ms;
  -moz-animation: pulse ease-in-out 1 normal 800ms;
  -o-animation: pulse ease-in-out 1 normal 800ms;
  animation: pulse ease-in-out 1 normal 800ms; }

.nobolderlabel label {
  font-weight: normal; }
