<!doctype html>
<html lang="en-US">
  <head>
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0386/7345/t/8/assets/favicon.png?6853" type="image/png" >
    <link rel="canonical" href="http://myelephantpost.com/">
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="" >
    <meta name="keywords" content="card, cards, birthday, anniversary, events, remember events, reminder event, reminder" >

    <title>MyElephantPost</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="fonts/font.css">
  </head>
  <body data-ng-controller="LoginCtrl">
    <!-- Welcome to My Elephant Post Source code!
         If you want, you can download this theme at github:
    -->

    <!-- Begin Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top no-margin" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyElephantPost</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div style="text-align: center" class="collapse navbar-collapse" id="navcollapse">
          <ul class="nav navbar-nav">
            <li><a class="navitem" href="#home">Home</a></li>
            <li><a class="navitem" href="#how-it-works">How it works</a></li>
            <li><a class="navitem" href="#why-elephant">Our advantage</a></li>
            <li><a class="navitem" href="#about-us">About us</a></li>
            <li><a class="navitem" href="#contact-us">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a data-toggle="modal" data-ng-click="reset()" data-target="#logModal" href="#">Login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid main">
      <article class="row" id="home">
        <div class="layer"></div>
        <div class="col-lg-offset-6 col-lg-6 text">
          <div class="vertical-center">
            <header>
              <h1>Experience <strong>Convenience</strong></h1>
              <p>
                My Elephant Post remembers birthday for you and offers
                high-quality, handmade greeting cards that show how much you care
              </p>
            </header>
            <div class="signin">
              <input type="image" data-ng-click="loginFb()" data-ng-hide="hidebutton" src="img/facebook_button.png" alt="Login with Facebook">
              <!-- @TODO adicionar link -->
              <p><a href="#" data-toggle="modal" data-ng-click="reset()" data-target="#regModal">or, sign up with email</a></p>
              <p class="separator"></p>
              <p>It only takes 3 clicks</p>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- How it Works Section -->
    <article id="how-it-works">
      <header>
        <h1>How it works</h1>
      </header>
      <div class="body container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <img src="img/step01.png" alt="Sign Up">
          </div>
          <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
            <h3>Sign Up</h3>
            <p>Select all the dates when you need paper birthday cards for friends and family.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
            <h3>Confirm</h3>
            <p>Receive reminder emails two weeks prior to each date to confirm your birthday card selection.</p>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <img src="img/step02.png" alt="Confirm">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
            <img src="img/step03.png" alt="Deliver">
          </div>
          <div class="col-lg-9 col-md-8 col-sm-7 col-xs-6">
            <h3>Deliver</h3>
            <p>Pick up the birthday card from your mailbox with time to spare - just add your personal message to the card and it is ready for delivery!</p>
          </div>
        </div>
      </div>
    </article>

    <!-- Why Elephant Post Section -->
    <article id="why-elephant" class="container-fluid">
      <div class="triangle white"></div>
      <header>
        <h1>Why use My Elephant Post?</h1>
      </header>
      <div class="row row-small">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="circle">
            <h1>Fast <br>set-up</h1>
          </div>
          <div class="separator"></div>
          <p>
            Simply log-in with Facebook, select the people mist important to you and assign cards to them. Birthday card shopping <strong>done in 5 minutes.</strong>
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="circle">
            <h1>Incredible selection</h1>
          </div>
          <div class="separator"></div>
          <p>
            We believe your loved ones deserve the best. That's why we searched long and hard to find hundreds of the highest quality, <strong>handmade card</strong> made by <strong>independent designers</strong> throughout the US.
          </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="circle">
            <h1>Highly affordable</h1>
          </div>
          <div class="separator"></div>
          <p>
            All of our cards are $5 with shipping. No gimmicks. No hidden fees. Just <strong>great cards at great prices.</strong>
          </p>
        </div>
      </div>
    </article>

    <!-- About Us Section -->
    <article id="about-us" class="container-fluid">
      <div class="triangle gray"></div>
      <header>
        <h1>About us</h1>
      </header>
      <p class="desc">
        We are a small team in Boston <!-- and a humble developer in Brazil :D --> who understands the time-constraints so many of us face today. We created My Elephant Post to make it easier to remember loved one's birthdays and quickly find the perfect birthday card that shows how much we care. We love spreading joy to others. Just check out the lengths we will go to in order to satisfy customers.
      </p>
      <p class="video">
        <span>
          <!-- Change here to modify the video -->
          <iframe width="560" height="315" src="//www.youtube.com/embed/e9LByN3-qRU?rel=0" frameborder="0" allowfullscreen></iframe>
        </span>
      </p>
    </article>

    <!-- Contact Us Section -->
    <article id="contact-us" class="container-fluid">
      <div class="triangle white"></div>
      <header>
        <h1>Contact Us</h1>
      </header>
      <div class="row body">
        <div class="col-lg-7">
          <form role="form" data-ng-submit="thanksContact()" action="http://myelephantpost.com/contact" method="post">
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="name">Your name <span class="required">*</span></label>
                  <input required="required" type="text" class="form-control" id="name">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <label for="email">Your email address <span class="required">*</span></label>
                  <input required="required" type="email" class="form-control" id="email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject">
            </div>
            <div class="form-group">
              <label for="message">Message <span class="required">*</span></label>
              <textarea id="message" class="form-control" rows="3"></textarea>
            </div>
            <input type="submit" value="Send Message" class="btn btn-primary">
          </form>
        </div>
        <div class="col-lg-5 desc">
          <p>
            We <strong>love</strong> hearing from customers! Send us a quick message to tell us what you think of our service and what you want to see added to the site
          </p>
          <p>
            Alternatively, we can be reached at <a href="mailto:info@myelephantpost.com">info@myelephantpost.com</a>.
          </p>
        </div>
      </div>
    </article>

    <!-- Footer Section -->
    <footer class="container-fluid">
      <div class="triangle gray"></div>
      <div class="row">
        <div id="copyright" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1>My<span>Elephant</span>Post</h1>
          <p>&copy; Copyright 2014. All Rights Reserved.</p>
        </div>
        <div id="connect" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h1>Connect with us</h1>
          <ul class="networks animated">
            <li>
              <a href="http://www.facebook.com/myelephantpost" class="pulse icon-social facebook ir" data-toggle="tooltip" data-placement="bottom" title="My Elephant Post on Facebook">Facebook</a>
            </li>
            <li>
              <a href="http://www.twitter.com/myelephantpost" class="pulse icon-social twitter ir" data-toggle="tooltip" data-placement="bottom" title="My Elephant Post on Twitter">Twitter</a>
            </li>
            <li>
              <a href="http://pinterest.com/myelephantpost" class="pulse icon-social pinterest ir" data-toggle="tooltip" data-placement="bottom" title="My Elephant Post on Pinterest">Pinterest</a>
            </li>
            <li>
              <a href="/blogs/news" class="pulse icon-social atom ir" data-toggle="tooltip" data-placement="bottom" title="My Elephant Post News">Blog feed</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/new_app.js"></script>
    <script src="js/new_facebook.js"></script>
    <!-- Login Modal -->

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="logModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div data-ng-show="showAlert" class="alert alert-warning">
              <p>The email [[ customer.email ]] are already registered.</p>
              <p>Please, enter your credentials.</p>
            </div>
            <form accept-charset="UTF-8" action="https://elephant-post.myshopify.com/account/login" data-ng-enter="login();" id="customer_login" method="post" role="form">

              <input name="form_type" type="hidden" value="customer_login">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="checkout_url" value="/pages/reminder-dashboard">

              <div class="form-group">
                <label for="logemail">Your Email <span class="req">*</span></label>
                <input type="email" value="" data-ng-model="customer.email" name="customer[email]" id="logemail" class="form-control">
              </div>

              <div class="form-group">
                <label for="logpassword">Your Password <span class="req">*</span></label>
                <input type="password" value="" data-ng-model="customer.password" name="customer[password]" id="logpassword" class="form-control">
              </div>

              <input type="submit" class="hidden">
            </form>
          </div>
          <div class="modal-footer">
            <button data-ng-click="login()" id="logFormSubmit" class="btn no-border btn-primary">Login</button>
            <button class="btn btn-default" data-dismiss="modal" data-ng-click="reset()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="errorModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <p>The email [[ customer.email ]] are already registered.</p>
            <p>Please, enter with your password.</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="redModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="redModalLabel">[[ modalTitle ]]</h4>
          </div>
          <div class="modal-body">
            <form accept-charset="UTF-8" data-ng-enter="saveCustomer()" action="https://elephant-post.myshopify.com/account" id="create_customer" method="post" role="form" class="nobolderlabel">

              <input name="form_type" type="hidden" value="create_customer">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="return_to" value="/pages/reminder-dashboard">

              <div class="form-group">
                <label for="regfirst_name">First Name</label>
                <input required="required" type="text" value="" data-ng-model="customer.first_name" name="customer[first_name]" id="regfirst_name" class="form-control">
              </div>

              <div class="form-group">
                <label for="reglast_name">Last Name</label>
                <input type="text" value="" data-ng-model="customer.last_name" name="customer[last_name]" id="reglast_name" class="form-control">
              </div>

              <div class="form-group">
                <label for="regemail">Your Email</label>
                <input required="required" type="email" value="" data-ng-model="customer.email" name="customer[email]" id="regemail" class="form-control">
              </div>

              <div class="form-group">
                <label for="regpassword">Your Password</span></label>
                <input required="required" type="password" value="" data-ng-model="customer.password" name="customer[password]" id="regpassword" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button data-ng-click="saveCustomer()" type="button" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-default" data-ng-click="reset()" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
